.root {
    -fx-font-family: sans-serif;
    -fx-background-color: darkgoldenrod;
}

.description-section {
    -fx-font-size: 15px;
    -fx-font-family: "Times New Roman";
    -fx-background-color: darkgoldenrod;
}

.header-section {
    -fx-alignment: center;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-padding: 15px;
    -fx-background-color: darkgoldenrod;
    -fx-text-fill: antiquewhite;
}

.separator {
    -fx-min-height: 10;
    -fx-max-height: 20;
    -fx-background-color: darkgoldenrod;
}

.button {
    -fx-padding: 4px;
    -fx-font-size: 15px;
    -fx-background-color:
            linear-gradient(#f0ff35, #a9ff00),
            radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}

.hsep {
    -fx-min-width: 10px;
    -fx-max-width: 20px;
}